[user]
	email = mitsugib2020@gmail.com
	name = mitsupon2020
[core]
	ignorecase = false
	excludesfile = ~/.global_gitignore
	quotepath = false
[commit]
	template = ~/.user-template/git/.commit_message
[alias]
    unstage = reset HEAD
    st = status
    ch = checkout
[init]
	defaultBranch = main
